Source: openxt-audio
Section: kernel
Priority: optional
Maintainer: OpenXT Community
Build-Depends: dkms

Package: openxt-audio-dkms
Architecture: all
Depends: dkms
Description: OpenXT audio
 OpenXT audio driver for Linux
